<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>vhost</title>
  </head>
  <body>
    <h1><%= @server_name %></h1>
    {{ range $host, $containers := groupByMulti $ "Env.VHOST" "," }}
      {{ range $container := $containers }}
        {{ range $address := $container.Addresses }}
          <h2>{{ $container.Name }}</h2>
          <ul>
            {{ if eq $address.Port "80" }}
              <li><a href="http://{{ $host }}.<%= @server_name %>">http://{{ $host }}.<%= @server_name %></a></li>
            {{ else if eq $address.Port "443" }}
              <li><a href="https://{{ $host }}.<%= @server_name %>">http://{{ $host }}.<%= @server_name %></a></li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    {{ end }}
  </body>
</html>
